.line {
  display: flex;
  gap: 5px;
}

.incorrentLine {
  animation-name: shake;
  animation-duration: .20s;
}

@keyframes shake {
  0% {
    transform: translateX(2%);
  }
  25% {
    transform: translateX(-4%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-4%);
  }
}